body{
    text-align: center;
    margin: 0;
    padding: 0;
}

header{
    background: #333;
    color: #ffffffff;
    padding: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}